@model List<PersonViewModel>

<div class="container mt-3">

    <h1 class="text-primary fw-bold mb-4">
        @ViewData["Title"] 
        
        <div class="ms-5">
            <a class="btn btn-outline-primary btn-sm" asp-action="Create"><i class="fa fa-plus"></i><b>  Crea nuova Persona</b></a>
        </div>
    </h1>

        <table class="table rounded-5">
            <thead>
                <tr class="mt-5">
                    <th scope="col" class="text-primary">Id</th>
                    <th scope="col" class="text-primary">Nome</th>
                    <th scope="col" class="text-primary">Cognome</th>
                    <th scope="col" class="text-primary">Età</th>
                    <th scope="col-5" class="text-primary text-center">Azioni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PersonViewModel person in Model)
                {
                    <tr>

                        <th scope="row">@person.Id</th>
                        <td>@person.Name</td>
                        <td>@person.Surname</td>
                        <td>@person.Age</td>
                        <td class="d-flex justify-content-center align-items-center">
                            <a class="btn btn-outline-primary" asp-action="Detail" asp-controller="Persons" asp-route-id="@person.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                            </a>
                            <a class="btn btn-outline-warning" asp-action="Update" asp-controller="Persons" asp-route-id="@person.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>
                            </a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Persons" asp-route-id="@person.Id"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                            </a>
                        
                        </td>
                    </tr>

                }
    
            </tbody>
        </table>
</div>

    